.profile-pic-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 4px solid #f0f0f0;
  transition: 0.2s ease-in-out;
}

.profile-pic:hover {
  transform: scale(1.03);
}
